.App {
  text-align: center;
  background: linear-gradient(to bottom, #5c0f42, #73ff00, #87921f); 

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-top:.25rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.input-wrap{
  width: 98%;
  display: flex;
  margin: 5px;
  padding: 8px;
}

.meme {
  margin: 3px;
  cursor: pointer;
  position: relative;
}

.meme-title{
  display:none;
  position:absolute;
  width: calc(100%-10px);
  bottom:4px;
  left:0;
  right:0;
  background: rgba(20, 183, 204, 0.5);
  font-weight: bold;
  font-size: 0.7rem;
  padding:2px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meme:hover .meme-title{
  display:block;
}



.all_memes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  height:calc(100vh-3.25rem);
  overflow: auto;
}

#searchButton {
  margin-left: 4px;
}